apiVersion: apps/v1
kind: Deployment
metadata:
  name: adservice
  namespace: {{ .Values.namespace }}
spec:
  replicas: {{ .Values.services.adservice.replicas }}
  selector:
    matchLabels:
      app: adservice
  template:
    metadata:
      labels:
        app: adservice
    spec:
      containers:
      - name: adservice
        image: {{ .Values.global.imageRegistry }}/{{ .Values.services.adservice.image }}:{{ .Values.global.imageTag }}
        ports:
        - containerPort: {{ .Values.services.adservice.port }}
---
apiVersion: v1
kind: Service
metadata:
  name: adservice
  namespace: {{ .Values.namespace }}
spec:
  selector:
    app: adservice
  ports:
  - port: {{ .Values.services.adservice.port }}
    targetPort: {{ .Values.services.adservice.port }}
