apiVersion: apps/v1
kind: Deployment
metadata:
  name: cartservice
  namespace: {{ .Values.namespace }}
spec:
  replicas: {{ .Values.services.cartservice.replicas }}
  selector:
    matchLabels:
      app: cartservice
  template:
    metadata:
      labels:
        app: cartservice
    spec:
      containers:
      - name: cartservice
        image: {{ .Values.global.imageRegistry }}/{{ .Values.services.cartservice.image }}:{{ .Values.global.imageTag }}
        ports:
        - containerPort: {{ .Values.services.cartservice.port }}
---
apiVersion: v1
kind: Service
metadata:
  name: cartservice
  namespace: {{ .Values.namespace }}
spec:
  selector:
    app: cartservice
  ports:
  - port: {{ .Values.services.cartservice.port }}
    targetPort: {{ .Values.services.cartservice.port }}
