apiVersion: apps/v1
kind: Deployment
metadata:
  name: checkoutservice
  namespace: {{ .Values.namespace }}
spec:
  replicas: {{ .Values.services.checkoutservice.replicas }}
  selector:
    matchLabels:
      app: checkoutservice
  template:
    metadata:
      labels:
        app: checkoutservice
    spec:
      containers:
      - name: checkoutservice
        image: {{ .Values.global.imageRegistry }}/{{ .Values.services.checkoutservice.image }}:{{ .Values.global.imageTag }}
        ports:
        - containerPort: {{ .Values.services.checkoutservice.port }}
        env:
        - name: PRODUCT_CATALOG_SERVICE_ADDR
          value: "productcatalogservice:3550"
        - name: SHIPPING_SERVICE_ADDR
          value: "shippingservice:50051"
        - name: PAYMENT_SERVICE_ADDR
          value: "paymentservice:50051"
        - name: EMAIL_SERVICE_ADDR
          value: "emailservice:8080"
        - name: CURRENCY_SERVICE_ADDR
          value: "currencyservice:7000"
        - name: CART_SERVICE_ADDR
          value: "cartservice:7070"
---
apiVersion: v1
kind: Service
metadata:
  name: checkoutservice
  namespace: {{ .Values.namespace }}
spec:
  selector:
    app: checkoutservice
  ports:
  - port: {{ .Values.services.checkoutservice.port }}
    targetPort: {{ .Values.services.checkoutservice.port }}
