apiVersion: apps/v1
kind: Deployment
metadata:
  name: currencyservice
  namespace: {{ .Values.namespace }}
spec:
  replicas: {{ .Values.services.currencyservice.replicas }}
  selector:
    matchLabels:
      app: currencyservice
  template:
    metadata:
      labels:
        app: currencyservice
    spec:
      containers:
      - name: currencyservice
        image: {{ .Values.global.imageRegistry }}/{{ .Values.services.currencyservice.image }}:{{ .Values.global.imageTag }}
        ports:
        - containerPort: {{ .Values.services.currencyservice.port }}
        env:
        - name: PORT
          value: "{{ .Values.services.currencyservice.port }}"
        - name: DISABLE_PROFILER
          value: "1"
---
apiVersion: v1
kind: Service
metadata:
  name: currencyservice
  namespace: {{ .Values.namespace }}
spec:
  selector:
    app: currencyservice
  ports:
  - port: {{ .Values.services.currencyservice.port }}
    targetPort: {{ .Values.services.currencyservice.port }}
