apiVersion: apps/v1
kind: Deployment
metadata:
  name: emailservice
  namespace: {{ .Values.namespace }}
spec:
  replicas: {{ .Values.services.emailservice.replicas }}
  selector:
    matchLabels:
      app: emailservice
  template:
    metadata:
      labels:
        app: emailservice
    spec:
      containers:
      - name: emailservice
        image: {{ .Values.global.imageRegistry }}/{{ .Values.services.emailservice.image }}:{{ .Values.global.imageTag }}
        ports:
        - containerPort: {{ .Values.services.emailservice.port }}
---
apiVersion: v1
kind: Service
metadata:
  name: emailservice
  namespace: {{ .Values.namespace }}
spec:
  selector:
    app: emailservice
  ports:
  - port: {{ .Values.services.emailservice.port }}
    targetPort: {{ .Values.services.emailservice.port }}
