apiVersion: apps/v1
kind: Deployment
metadata:
  name: paymentservice
  namespace: {{ .Values.namespace }}
spec:
  replicas: {{ .Values.services.paymentservice.replicas }}
  selector:
    matchLabels:
      app: paymentservice
  template:
    metadata:
      labels:
        app: paymentservice
    spec:
      containers:
      - name: paymentservice
        image: {{ .Values.global.imageRegistry }}/{{ .Values.services.paymentservice.image }}:{{ .Values.global.imageTag }}
        ports:
        - containerPort: {{ .Values.services.paymentservice.port }}
        env:
        - name: PORT
          value: "{{ .Values.services.paymentservice.port }}"
        - name: DISABLE_PROFILER
          value: "1"
---
apiVersion: v1
kind: Service
metadata:
  name: paymentservice
  namespace: {{ .Values.namespace }}
spec:
  selector:
    app: paymentservice
  ports:
  - port: {{ .Values.services.paymentservice.port }}
    targetPort: {{ .Values.services.paymentservice.port }}
