apiVersion: apps/v1
kind: Deployment
metadata:
  name: recommendationservice
  namespace: {{ .Values.namespace }}
spec:
  replicas: {{ .Values.services.recommendationservice.replicas }}
  selector:
    matchLabels:
      app: recommendationservice
  template:
    metadata:
      labels:
        app: recommendationservice
    spec:
      containers:
      - name: recommendationservice
        image: {{ .Values.global.imageRegistry }}/{{ .Values.services.recommendationservice.image }}:{{ .Values.global.imageTag }}
        ports:
        - containerPort: {{ .Values.services.recommendationservice.port }}
        env:
        - name: PRODUCT_CATALOG_SERVICE_ADDR
          value: "productcatalogservice:3550"
---
apiVersion: v1
kind: Service
metadata:
  name: recommendationservice
  namespace: {{ .Values.namespace }}
spec:
  selector:
    app: recommendationservice
  ports:
  - port: {{ .Values.services.recommendationservice.port }}
    targetPort: {{ .Values.services.recommendationservice.port }}
