apiVersion: apps/v1
kind: Deployment
metadata:
  name: shippingservice
  namespace: {{ .Values.namespace }}
spec:
  replicas: {{ .Values.services.shippingservice.replicas }}
  selector:
    matchLabels:
      app: shippingservice
  template:
    metadata:
      labels:
        app: shippingservice
    spec:
      containers:
      - name: shippingservice
        image: {{ .Values.global.imageRegistry }}/{{ .Values.services.shippingservice.image }}:{{ .Values.global.imageTag }}
        ports:
        - containerPort: {{ .Values.services.shippingservice.port }}
---
apiVersion: v1
kind: Service
metadata:
  name: shippingservice
  namespace: {{ .Values.namespace }}
spec:
  selector:
    app: shippingservice
  ports:
  - port: {{ .Values.services.shippingservice.port }}
    targetPort: {{ .Values.services.shippingservice.port }}
