- rule: Suspicious Network Activity in Hipster Shop
  desc: Detect suspicious network connections from hipster-shop pods
  condition: >
    spawned_process and
    k8s_ns=hipster-shop and
    ((proc.name=nc or proc.name=ncat or proc.name=netcat) or
     (proc.name=wget and proc.args contains "http://") or
     (proc.name=curl and proc.args contains "http://"))
  output: >
    Suspicious network activity in hipster-shop
    (user=%user.name command=%proc.cmdline pod=%k8s.pod.name ns=%k8s.ns.name)
  priority: WARNING
  tags: [network, hipster-shop]

- rule: Unexpected File Access in Container
  desc: Detect unexpected file access in application containers
  condition: >
    open_read and
    k8s_ns=hipster-shop and
    fd.name startswith /etc/ and
    not fd.name in (/etc/passwd, /etc/group, /etc/hosts, /etc/resolv.conf, /etc/hostname)
  output: >
    Unexpected file access in container
    (user=%user.name file=%fd.name pod=%k8s.pod.name ns=%k8s.ns.name)
  priority: WARNING
  tags: [filesystem, hipster-shop]

- rule: Shell Spawned in Container
  desc: Detect shell execution in application containers
  condition: >
    spawned_process and
    k8s_ns=hipster-shop and
    proc.name in (bash, sh, zsh, fish, csh, ksh)
  output: >
    Shell spawned in container
    (user=%user.name shell=%proc.name pod=%k8s.pod.name ns=%k8s.ns.name command=%proc.cmdline)
  priority: WARNING
  tags: [shell, hipster-shop]

- rule: Privilege Escalation Attempt
  desc: Detect privilege escalation attempts
  condition: >
    spawned_process and
    k8s_ns=hipster-shop and
    (proc.name in (sudo, su, doas) or
     proc.args contains "chmod +s" or
     proc.args contains "setuid")
  output: >
    Privilege escalation attempt detected
    (user=%user.name command=%proc.cmdline pod=%k8s.pod.name ns=%k8s.ns.name)
  priority: CRITICAL
  tags: [privilege_escalation, hipster-shop]
