configuration:
  backupStorageLocation:
  - name: default
    provider: aws
    bucket: hipster-shop-backups
    config:
      region: nyc3
      s3ForcePathStyle: "true"
      s3Url: https://nyc3.digitaloceanspaces.com
      publicUrl: https://hipster-shop-backups.nyc3.digitaloceanspaces.com
  
  volumeSnapshotLocation:
  - name: default
    provider: digitalocean.com/velero
    config:
      region: nyc3

credentials:
  useSecret: true
  name: cloud-credentials
  secretContents:
    cloud: |
      [default]
      aws_access_key_id=YOUR_DO_SPACES_KEY
      aws_secret_access_key=YOUR_DO_SPACES_SECRET

initContainers:
- name: velero-plugin-for-aws
  image: velero/velero-plugin-for-aws:v1.8.2
  volumeMounts:
  - mountPath: /target
    name: plugins
- name: velero-plugin-for-digitalocean
  image: digitalocean/velero-plugin:v1.1.0
  volumeMounts:
  - mountPath: /target
    name: plugins

resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: 500m
    memory: 512Mi

metrics:
  enabled: true
  scrapeInterval: 30s

schedules:
  daily-backup:
    disabled: false
    schedule: "0 2 * * *"
    template:
      ttl: "720h"
      includedNamespaces:
      - hipster-shop
      - monitoring
      - istio-system
      excludedResources:
      - events
      - events.events.k8s.io
      snapshotVolumes: true
  
  weekly-backup:
    disabled: false
    schedule: "0 3 * * 0"
    template:
      ttl: "2160h"
      includedNamespaces:
      - hipster-shop
      - monitoring
      - istio-system
      - argocd
      - kyverno
      - chaos-mesh
      - falco
      - trivy-system
      - kubecost
      snapshotVolumes: true
