apiVersion: chaos-mesh.org/v1alpha1
kind: HTTPChaos
metadata:
  name: http-abort
  namespace: hipster-shop
spec:
  mode: one
  selector:
    namespaces:
      - hipster-shop
    labelSelectors:
      app: frontend
  target: Request
  port: 8080
  method: GET
  path: "/cart"
  abort: true
  duration: "1m"
---
apiVersion: chaos-mesh.org/v1alpha1
kind: HTTPChaos
metadata:
  name: http-delay
  namespace: hipster-shop
spec:
  mode: one
  selector:
    namespaces:
      - hipster-shop
    labelSelectors:
      app: checkoutservice
  target: Request
  port: 5050
  delay: "2s"
  duration: "2m"
