apiVersion: chaos-mesh.org/v1alpha1
kind: PodChaos
metadata:
  name: cartservice-pod-failure
  namespace: hipster-shop
spec:
  action: pod-failure
  mode: one
  duration: "30s"
  selector:
    namespaces:
      - hipster-shop
    labelSelectors:
      app: cartservice
  scheduler:
    cron: "@every 5m"
---
apiVersion: chaos-mesh.org/v1alpha1
kind: PodChaos
metadata:
  name: frontend-pod-kill
  namespace: hipster-shop
spec:
  action: pod-kill
  mode: fixed
  value: "1"
  selector:
    namespaces:
      - hipster-shop
    labelSelectors:
      app: frontend
