apiVersion: v1
kind: ConfigMap
metadata:
  name: falco-custom-rules
  namespace: security
data:
  custom-rules.yaml: |
    - rule: Suspicious Activity in Hipster Shop
      desc: Detect suspicious commands in hipster-shop microservices
      condition: >
        spawned_process and
        container and
        k8s.ns.name = "hipster-shop" and
        (proc.name in (curl, wget, nc, ncat, netcat, nmap) or
         proc.cmdline contains "bash -i" or
         proc.cmdline contains "/bin/sh -i")
      output: >
        Suspicious command executed in hipster-shop container
        (user=%user.name command=%proc.cmdline container=%container.name 
        pod=%k8s.pod.name ns=%k8s.ns.name image=%container.image.repository)
      priority: WARNING
      tags: [hipster-shop, suspicious, container]

    - rule: Cryptocurrency Mining Detected
      desc: Detect potential cryptocurrency mining activity
      condition: >
        spawned_process and
        container and
        (proc.name in (xmrig, minerd, cpuminer, ethminer, ccminer) or
         proc.cmdline contains "stratum+tcp" or
         proc.cmdline contains "pool.minergate.com" or
         proc.cmdline contains "xmr-stak")
      output: >
        Potential cryptocurrency mining detected
        (user=%user.name command=%proc.cmdline container=%container.name 
        pod=%k8s.pod.name ns=%k8s.ns.name image=%container.image.repository)
      priority: CRITICAL
      tags: [crypto, mining, malware]

    - rule: Sensitive File Access in Containers
      desc: Detect access to sensitive files like /etc/shadow or SSH keys
      condition: >
        open_read and
        container and
        (fd.name in (/etc/shadow, /etc/sudoers) or
         fd.name startswith /root/.ssh/ or
         fd.name startswith /home/*/.ssh/id_)
      output: >
        Sensitive file accessed in container
        (user=%user.name file=%fd.name container=%container.name 
        pod=%k8s.pod.name ns=%k8s.ns.name command=%proc.cmdline)
      priority: WARNING
      tags: [filesystem, sensitive]

    - rule: Package Manager Execution in Container
      desc: Detect package manager usage which could indicate container modification
      condition: >
        spawned_process and
        container and
        proc.name in (apt, apt-get, yum, dnf, apk, pip, npm, gem)
      output: >
        Package manager executed in running container
        (user=%user.name command=%proc.cmdline container=%container.name 
        pod=%k8s.pod.name ns=%k8s.ns.name)
      priority: NOTICE
      tags: [container, modification]

    - rule: Reverse Shell Attempt
      desc: Detect potential reverse shell connections
      condition: >
        spawned_process and
        container and
        ((proc.name = "bash" and proc.cmdline contains "-i") or
         (proc.name = "sh" and proc.cmdline contains "-i") or
         (proc.name in (nc, ncat, netcat) and proc.cmdline contains "-e"))
      output: >
        Potential reverse shell detected
        (user=%user.name command=%proc.cmdline container=%container.name 
        pod=%k8s.pod.name ns=%k8s.ns.name)
      priority: CRITICAL
      tags: [reverse-shell, attack]
