falco:
  grpc:
    enabled: true
  grpcOutput:
    enabled: true
  httpOutput:
    enabled: true
    url: "http://falcosidekick:2801"
  jsonOutput: true
  jsonIncludeOutputProperty: true
  
  rules_file:
    - /etc/falco/falco_rules.yaml
    - /etc/falco/falco_rules.local.yaml
    - /etc/falco/k8s_audit_rules.yaml
    - /etc/falco/rules.d

  syscall_event_drops:
    actions:
      - log
      - alert
    rate: 0.03333
    max_burst: 1000

driver:
  enabled: true
  kind: ebpf

falcosidekick:
  enabled: true
  config:
    slack:
      webhookurl: ""
      channel: "#security-alerts"
      username: "Falco"
      minimumpriority: "warning"
    
    prometheus:
      extralabels: "cluster:hipster-shop"

  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 200m
      memory: 256Mi

resources:
  requests:
    cpu: 100m
    memory: 512Mi
  limits:
    cpu: 1000m
    memory: 1Gi

nodeSelector:
  kubernetes.io/os: linux

tolerations:
  - effect: NoSchedule
    key: node-role.kubernetes.io/master
  - effect: NoSchedule
    key: node-role.kubernetes.io/control-plane
